@import url(~sanitize.css/sanitize.css);
.container {
    width: 400px;
}

.card {
    border: 1px dashed gray;
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
    background-color: white;
    cursor: move;
}

.opacity {
    opacity: 1;
}

.no-opacity {
    opacity: 0;
}